@page "/Kanban"
@inherits KanbanBase

<MudButton Variant="Variant.Filled"
           StartIcon="@Icons.Material.Rounded.Add"
           Color="Color.Tertiary"
           Class="mb-4"
           OnClick="NovaAtividade">Nova Atividade</MudButton>

@if (!ListaAtividade.IsNullOrEmpty())
{
    <Container ListaAtividade="ListaAtividade" AtualizaStatusAtividade="StatusUpdate">
        <MudItem xs="12" sm="12" md="12" lg="3" xl="3">
            <ListaAtividade Status="StatusAtividade.Iniciado" StatusPermitidos="@(new StatusAtividade[] { StatusAtividade.EmDesenvolvimento})" />
        </MudItem>
        <MudItem xs="12" sm="12" md="12" lg="3" xl="3">
            <ListaAtividade Status="StatusAtividade.EmDesenvolvimento" StatusPermitidos="@(new StatusAtividade[] { StatusAtividade.Iniciado, StatusAtividade.EmTeste})" />
        </MudItem>
        <MudItem xs="12" sm="12" md="12" lg="3" xl="3">
            <ListaAtividade Status="StatusAtividade.EmTeste" StatusPermitidos="@(new StatusAtividade[] { StatusAtividade.EmDesenvolvimento, StatusAtividade.Finalizado})" />
        </MudItem>
        <MudItem xs="12" sm="12" md="12" lg="3" xl="3">
            <ListaAtividade Status="StatusAtividade.Finalizado" StatusPermitidos="@(new StatusAtividade[] { StatusAtividade.EmTeste})" />
        </MudItem>
    </Container>
}
else
{
    <MudAlert Severity="Severity.Info">Sem nenhum atividade no quadro Kanban.</MudAlert>
}

@*<hr />

    <p>Ultima Atualização <strong>@UltimaAtividadeAtualizada</strong></p>

    @foreach (var item in ListaAtividade)
    {
        <p>@item.Titulo - @item.Descricao - <strong>@item.StatusAtividade</strong></p>
    }*@